.breadcrumb {
    padding: .1em 0 0 1em;
    font-size: .938em;
    margin: 0px auto 5px;
    background: url(../images/icon_home.png) no-repeat left center;
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
    }
}