footer {
    @include box-sizing(border-box);
    @include clearfix;
    text-align: left;
    font-size: 0.813em;
    padding: 1em 0;
    color: #FFF;
    background: $footerBgColor;
    @include screen('mobile') {
        padding-bottom: 3.5em;
    }
    .container {
        @include gutter;
        border-top: 1px solid #999;
        padding-top: 1em;
        >div {
            padding-bottom: 1em;
        }
    }
    a {
        text-decoration: none;
        color: $aColoronDark;
        &:hover,
        &:focus {
            color: $aHoveronDark;
        }
    }
    .footer_logo {
        @include make-xs-column(6);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
        // img {
        //     filter: grayscale(100%);
        // }
    }
    .footer_info {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        @include gutter();
    }
    .footer_icon {
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
    }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        li {
            float: left;
            display: block;
            margin: 0px 5px 3px 0px;
            &:last-child{
                a{
                    &:after{
                        display:none;
                    }
                }
            }
            a {
                display: block;
                padding: 0;
                color: $aColoronDark;
                @include transition(all, .3s, ease-out);
                &:hover,
                &:focus {
                    color: $aHoveronDark;
                }
                &:after {
                    @extend %slash;
                    content:"|";
                }
            }
        }
    }
    p {
        line-height: 1.65em;
        color:#CCC;
        a{
            color:#FFF;
            &:hover,&:focus{
                color:$aHoveronDark;
            }
        }
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: $color-yellow;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin-right: .5em;
            &:focus {
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    box-shadow: 0px 0px 0px 1px $aHoveronDark inset;
                    z-index: 99;
                }
            }
        }
        img {
            max-width: 120px;
        }
    }
}