//header
.header {
    position: relative;
    z-index: 99;
    height: 8em;
    width: 100%;
    // @include gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), vertical);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    // box-shadow: 0px 2px 5px RGBA(0, 0, 0, .3);
    @extend %clearfix;
    @include screen('mobile') {
        position: fixed;
        width: 100%;
        height: 60px;
        background: #111;
    }
    &.inner_header{
        background:#000;
    }
    // 虛擬底色 - navigation bg
    // &:before {
    //     content: "";
    //     width: 100%;
    //     height: 2.4em;
    //     background: #F2F2F2;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     @include screen('mobile') {
    //         display: none;
    //     }
    // }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        top: 44px;
        @include box-sizing;
        @include screen('mobile') {
            display: block !important;
        }
        &:focus {
            &:after {
                content: "";
                box-shadow: 0px 0px 0px 1px $aHoveronDark;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                z-index: 1;
            }
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        .sidebarCtrl {
            // display: none;
            right: 60px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #FFF;
                width: 50%;
                height: 2px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
            @include screen('mobile') {
                left: 0;
                top: 0;
            }
        }
        // search
        .searchCtrl {
            // display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: 1;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
            @include screen('mobile') {
                top: 0;
            }
        }
    }
    h1 {
        // float: left;
        position: absolute;
        width: 275px;
        height: 90px;
        margin: 0;
        padding: 0;
        left: 0em;
        top: .7em;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            display: block;
            max-width: 275px;
            max-height: 90px;
        }
        @include screen('mobile') {
            padding: 2px 60px;
            width: auto;
            text-align: center;
            height: 60px;
            left: 60px;
            right: 60px;
            top: auto;
            background: url(../images/logo_m.png) no-repeat center center;
            background-size: contain;
            img {
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                opacity: 0;
            }
        }
    }
    // 導覽列
    .navigation {
        &.have_language {
            padding-right: 160px;
        }
        @extend %clearfix;
        overflow: hidden;
        width: 100%;
        right: 0;
        margin-bottom: .5em;
        box-sizing:border-box;
        position:absolute;
        top:0;
        @include screen('mobile') {
            display: none;
        }
        ul {
            float: right;
            @include li-reset;
            list-style: none;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
        }
        li {
            float: left;
            font-size: .938em;
            display: block;
            margin-right: .5em;
            a {
                color: #FFF;
                display: block;
                padding: .5em;
                text-align: center;
                &:hover, &:focus {
                    color: $aHoveronDark;
                }
            }
        }
        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size: .75em;
        }
    }
    .quick_link {
        position: absolute;
        width: 30%;
        height: 4em;
        left: 280px;
        top: 3em;
        @include screen('mobile') {
            display: none;
        }
        ul{
            @include li-reset;
            li {
                float: left;
                width: 30%;
                display: block;
                margin-right: 2%;
                a {
                    border: 1px solid #FFF;
                    color: #FFF;
                    display: block;
                    padding: 1em .5em;
                    text-align: center;
                    &:focus {
                        box-shadow: none;
                    }
                }
                &:first-child {
                    a {
                        &:hover, &:focus {
                            background: #770f5a;
                            border: 1px solid #770f5a;
                        }
                    }
                }
                &:nth-child(2) {
                    a {
                        &:hover, &:focus {
                            background: #016ccf;
                            border: 1px solid #016ccf;
                        }
                    }
                }
                &:last-child {
                    margin-right: 0;
                    width: 36%;
                    a {
                        &:hover, &:focus {
                            background: #008477;
                            border: 1px solid #008477;
                        }
                    }
                }

            }
        }
    }
}
//search
.search {
    min-width: 30%;
    max-width: 50%;
    position: absolute;
    right: 1em;
    top: 6em;
    vertical-align: middle;
    padding: 1em;
    overflow: hidden;
    @include box-sizing;
    display: none;
    border-radius: .2em;
    background: RGBA(0, 0, 0, .75);
    label {
        font-size: 0em;
        height: 0;
        padding: 0;
        margin: 0;
        display: none;
    }
    .form_grp {
        margin-bottom: 0;
        float: left;
        margin-right: .3em;
        width: 70%;
        input {
            margin: -0.2em 0 0;
            padding: .2em 35px .2em .5em;
            box-shadow: none;
            &[type="text"] {
                // margin-top: -2.1em;
                margin-top: 4px;
                &:focus {
                    box-shadow: 0px 0px 0px 3px $aHover;
                    outline: none;
                    border: none;
                }
            }
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                background: url(../images/basic/icon_search_black.png) no-repeat center center;
                background-size: 20px;
                border: none;
                display: block;
                opacity: .8;
                // margin-top: -42px;
                margin-top: -30px;
                margin-left: auto;
                margin-right: .2em;
                position: relative;
                z-index: 1;
                &:focus {
                    opacity: 1;
                    box-shadow: none !important;
                    outline: 2px solid $aHover;
                }
            }
        }
    }
    .btn_grp {
        padding: .2em;
        margin-bottom: 0;
        float: right;
        input, input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em;
            background: $color-yellow;
            border: 1px solid $color-yellow;
            color: #000;
            &:focus {
                background: lighten($aHoveronDark, 0);
                border: 1px solid lighten($aHoveronDark, 0);
            }
        }
    }
    .keywordHot {
        display: block;
        vertical-align: middle;
        margin-left: .5em;
        padding: .1em 0 .3em;
        clear: both;
        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "";
                color: #999;
                float: left;
            }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                color: #FFF;
                &:hover, &:focus {
                    color: $aHoveronDark;
                }
            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .8em .3em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        border-radius: 0;
        background: #333;
        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            width: 70%;
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 0;
            text-align: right;
            float: left;
            height: 50px;
            position: relative;
            @include box-sizing();
            label {
                display: none;
            }
            input {
                width: 100%;
                margin: 0;
                padding: .5em 45px .4em .5em;
                &[type="submit"] {
                    font-size: 0em;
                    width: 36px !important;
                    height: 36px;
                    padding: 0;
                    // max-width:none;
                    // min-width:none;
                    background: url(../images/basic/icon_search_black.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block;
                    // margin-left: -50px !important;
                    position: absolute;
                    right: 5px;
                    top: 0px;
                    opacity: .8;
                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
            }
        }
        .btn_grp {
            padding: .1em 5% .1em 0;
            margin-bottom: 0;
            width: 26%;
            text-align: left;
            @include box-sizing();
            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0;
            }
        }
        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @extend %clearfix;
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}