.tabSet {
  max-width: 100%;
  margin: 1em auto;
  overflow: hidden;
  @extend %clearfix;
  @include screen('mobile') {
    width: auto;
    height: auto !important;
  }
}
.tabs {
  position: relative;
  &>.tabItem {
    &.active>a {
            // background-color: $primaryColor;
            color: #193b75;
            @include screen('mobile') {
              color:#FFF;
              background: rgb(3,173,158);
              background: -moz-linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
              background: -webkit-linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
              background: linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03ad9e",endColorstr="#21337c",GradientType=1);
            }
            &:hover,&:focus{
             @include screen('mobile') {
              color:#FFF;
            }
          }
        }
        &.active {
          &:after {
            background: rgb(3,173,158);
            background: -moz-linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
            background: linear-gradient(90deg, rgba(3,173,158,1) 0%, rgba(77,177,199,1) 25%, rgba(33,51,124,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03ad9e",endColorstr="#21337c",GradientType=1);
          }
        }
        float: left;
        margin: 0;
        padding: 0;
        font-size:1.5em;
        line-height: 1;
        @include screen('mobile') {
          float: none;
          &>a {
            width: 100% !important;
            border-bottom: 1px solid #888;
            @include screen('mobile') {
              background:#F1F1F1;
              border-bottom: 1px solid #FFF;
            }
          }
          &.active>a {
            border-color: #bbb;
            @include screen('mobile') {
             border-color: transparent;
           }
         }
       }
       &:after {
        background: #DDD;
        left: 0;
        width: 100%;
        bottom:-.5em;
        margin-left: 0;
        @include screen('mobile') {
          height: 1px;
        }
      }
      &>a {
        display: block;
        padding: 16px 0 14px;
        text-align: center;
            // background-color: #aaa;
            color: #222;
            font-weight: bold;
            text-decoration: none;
            @include text-overflow;
            @include box-sizing;
            &:hover {
              color: $aHover;
              @include screen('mobile') {
                color:#FFF;
                @include gradient(#08aea1, #0788d0, horizontal);
              }
            }
          }
        }
      }
// //多組 可設定差異
// .example-2 {
//     .tabItem>a:hover {
//         background: $secondaryColor;
//     }
//     .tabItem.active>a {
//         background: $secondaryColor;
//     }
// }
// 顯示content
.active+.tabContent {
  display: block;
}
.tabContent {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  clear: both;
  padding: 30px 20px;
  display: none;
  @include screen('mobile') {
    position: static;
  }
  ul {
    @include li-reset;
  }
  li {
    margin: 0 0 1.3em 0;
    padding: 0;
    line-height: 1.6;
    border-bottom: 1px #CCC dashed;
    @include screen('mobile') {
      @include text-overflow();
    }
    a {
      @include aSetting_nocolor;
    }
    time {
      display: inline-block;
      margin: 0 0 0 1em;
      font-size: .813em;
      color: #555;
    }
  }
}