@charset "utf-8";
// 文章標題
h1.title {
    line-height: 1.25em;
    margin: .4em 0;
}
.cp {
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
    table {
        background: #FFF;
    }
    img {
        &.float_left {
            float: left;
            margin: 0px 1em 1em 0;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
        &.float_right {
            float: right;
            margin: 0px 0 1em 1em;
            width: auto;
            max-width: 55%;
            @include screen('mobile') {
                float: none;
                max-width: 100%;
                margin: 0px auto;
            }
        }
    }
    a {
        @include aSetting;
    }
    .info {
        font-size: 0.938em;
        line-height: 1.5em;
        list-style: none;
        margin: 0 0 .7em 0;
        border-left: solid 5px $primaryColor;
        @include box-sizing;
        padding: 0.8em 1.5em 0.8em;
        background: #F2F2F2;
        @extend %clearfix;
        li {
            width: 32%;
            margin-bottom: .5em;
            display: inline-block;
            vertical-align: top;
            @include screen('tablet') {
                width: 48%;
                margin-bottom: .2em;
                font-size: 0.875em;
            }
            @include screen('mobile') {
                width: 100%;
                display: block;
            }
        }
    }
}
// 文章標籤
div.tag {
    @extend %clearfix;
    padding: .5em 0;
    margin-bottom: .5em;
    &:before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 16px;
        position: relative;
        top: .2em;
        background: url(../images/basic/icon_tag.png) no-repeat center center;
        background-size: 16px;
    }
    ul {
        display: inline-block;
        @include li-reset;
        li {
            display: inline-block;
            margin: 0 .2em .2em 0;
            a {
                display: block;
                font-size: .813em;
                @include aSetting_nocolor;
                border-radius: 4px;
                border: 1px solid #DDD;
                padding: .2em .5em;
            }
        }
    }
}
// 檔案下載
.file_download {
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        .update,
        .file_view {
            font-size: .813em;
            color: #AAA;
            width: 100px;
            float: right;
            margin-top: 5px;
            @media screen and (max-width: 767px) {
                display: inline-block;
                float: none;
                width: auto;
                margin-top: 0;
            }
            @include screen('xs_mobile') {
                display: none;
            }
        }
        .update {
            width: 150px;
            @media screen and (max-width: 767px) {
                margin-left: 5px;
            }
        }
        a {
            padding: .2em 0px .2em 65px;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: inline-block;
            width: 45%;
            color: $color-word;
            &:hover {
                color: $aHover;
            }
            @include text-overflow;
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
            @include screen('mobile') {
                margin-right: 0px; // display: block;
                width: 85%;
            }
            .kb {
                font-size: .75em;
                color: #666;
                display: inline-block;
                margin: 0px .5em;
            }
            &:after {
                content: "";
                background: url(../images/basic/icon_other.jpg);
                width: 21px;
                height: 24px;
                position: absolute;
                top: 2px;
                left: 35px;
                text-align: right;
            }
            &[href$="doc"]:after {
                background: url(../images/basic/icon_doc.jpg);
            }
            &[href$="odf"]:after {
                background: url(../images/basic/icon_odf.jpg);
            }
            &[href$="pdf"]:after {
                background: url(../images/basic/icon_pdf.jpg);
            }
            &[href$="xls"]:after {
                background: url(../images/basic/icon_xls.jpg);
            }
            &[href$="ppt"]:after {
                background: url(../images/basic/icon_ppt.jpg);
            }
            &[href$="jpg"]:after {
                background: url(../images/basic/icon_jpg.jpg);
            }
            &[href$="mp3"]:after {
                background: url(../images/basic/icon_mp3.jpg);
            }
            &[href$="mov"]:after {
                background: url(../images/basic/icon_mov.jpg);
            }
            &[href$="txt"]:after {
                background: url(../images/basic/icon_txt.jpg);
            }
            &[href$="dot"]:after {
                background: url(../images/basic/icon_doc.jpg);
            }
            &[href$="zip"]:after {
                background: url(../images/basic/icon_zip.jpg);
            }
        }
    }
}
// 外部連結
.web_link {
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 0.2em;
        border-bottom: 1px solid $primaryColor;
    }
    ol,
    ul {
        counter-reset: counter;
        list-style-type: none;
        padding: 0;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
    li {
        position: relative;
        margin-bottom: 10px;
        border-bottom: 1px solid #EEE;
        a {
            padding: .2em 0px .2em 35px;
            position: relative;
            height: auto;
            line-height: 1.45em;
            display: block;
            @include aSetting_nocolor;
            &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
            }
        }
    }

}