.edm {
  @extend %clearfix;
  width: 100%;
  margin: 0px auto;
  background: #666;
  @media screen and (max-width: 1000px) {
    background: #fff;
  }
  a {
    display: block;
    &:hover,
    &:focus {
      color: #2a8398;
      .block_title,
      .block_text {
        color: #2a8398;
      }
    }
  }
}

.edm_cover {
  width: 1100px;
  margin: 0 auto 0 auto;
  background: #fff;
  padding-top: 46px;
  @media screen and (max-width: 1000px) {
    width: 100%;
    padding-top: 0;
  }
  a {
    display: block;
    width: 1000px;
    height: 512px;
    background: url(../images/edm/cover.jpg) no-repeat left top;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
      width: 100%;
      // height: 400px;
    }
    @include screen('mobile') {
      height: 280px;
    }
    &:hover {
      .edm_title {
        background: #2a8398;
      }
    }
  }
  .edm_title {
    color: #fff;
    font-size: 2.25rem;
    line-height: 100%;
    letter-spacing: 6px;
    display: inline-block;
    position: absolute;
    padding: 28px 36px;
    background: #be3fa1;
    top: 76px;
    right: 0;
    margin: 0;
    @media screen and (max-width: 1000px) {
      top: 0;
      font-size: 1.75rem;
      padding: 16px 20px;
      right: 0;
    }
    span.en {
      display: block;
      font-size: 2rem;
      letter-spacing: 1px;
      margin-bottom: 10px;
      @media screen and (max-width: 1000px) {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
    }
  }
  .cover_title {
    text-align: justify;
    color: #fff;
    position: absolute;
    letter-spacing: 10px;
    left: 24px;
    bottom: 44px;
    font-size: 2rem;
    margin: 0;
    @media screen and (max-width: 1000px) {
      bottom: 20px;
      left: 24px;
    }
    span.en {
      display: block;
      font-size: 1rem;
      letter-spacing: 0;
      margin-top: 10px;
      font-weight: normal;
      @media screen and (max-width: 1000px) {
        margin-top: 6px;
      }
    }
  }
}

.edm_content {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  @media screen and (max-width: 1000px) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .no {
    line-height: 58px;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    font-weight: bold;
    @include screen('mobile') {
      font-size: 1.125rem;
    }
    span {
      margin-right: 20px;
    }
  }
  .block_name {
    font-size: 1.75rem;
    color: #313131;
    text-align: center;
    margin: 0;
    line-height: 100%;
    margin-bottom: 50px;
    padding-bottom: 24px;
    position: relative;
    @include clearfix();
    &:after {
      content: "";
      width: 60px;
      height: 2px;
      background: #f06153;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -30px;
    }
    a {
      color: #313131;
    }
  }
  .block_title {
    font-size: 1.5rem;
    margin: 0;
    color: #313131;
    text-align: justify;
    margin: 0 0 14px 0;
    line-height: 130%;
    font-weight: bold;
  }
  .block_text {
    color: #535353;
    text-align: justify;
    line-height: 180%;
    font-size: 1.125em;
    overflow: hidden;
  }
  ul {
    @include li-reset;
  }
  .block_1,
  .block_2,
  .block_3,
  .block_4,
  .block_5 {
    width: 940px;
    margin: 0 auto 80px auto;
    @include clearfix();
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  .block_1 {
    display: flex;
    @include screen('mobile') {
      display: block;
    }
    .block_content {
      flex-grow: 0;
      .block_name {
        font-size: 1.125rem;
        font-weight: bold;
        color: #f06153;
        margin: 0 0 14px 0;
        padding-bottom: 0;
        text-align: left;
        &:after {
          display: none;
        }
        a {
          color: #f06153;
        }
      }
    }
    .block_pic {
      margin-left: 32px;
      width: 508px;
      height: 400px;
      flex-shrink: 0;
      @include screen('mobile') {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        display: block;
        margin-left: 0;
      }
      img {
        width: 100%;
        height: 100%;
        @include screen('mobile') {
          height: auto;
        }
      }
    }
  }
  .block_2 {
    ul {
      li {
        display: flex;
        overflow: hidden;
        margin-bottom: 42px;
        @include screen('mobile') {
          display: block;
        }
      }
    }
    .block_pic {
      margin-right: 32px;
      width: 380px;
      height: 280px;
      flex-shrink: 0;
      @include screen('mobile') {
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        display: block;
        margin-right: 0;
      }
      img {
        width: 100%;
        height: 100%;
        @include screen('mobile') {
          height: auto;
        }
      }
    }
    .block_content {
      flex-grow: 0;
      .block_title {
        font-size: 1.5rem;
      }
    }
  }
  .block_3 {
    ul {
      li {
        margin-bottom: 40px;
        a {}
      }
    }
    .more {
      text-align: center;
      a {
        padding: 20px 56px;
        border-radius: 40px;
        background: #5f549e;
        font-size: 1.25rem;
        display: inline-block;
        color: #fff;
        &:hover,
        &:focus {
          background: #2a8398;
        }
      }
    }
  }
  .block_4 {
    ul {
      display: flex;
      justify-content: space-between;
      @include screen('mobile') {
        display: block;
      }
      li {
        width: 32%;
        margin-bottom: 1em;
        @include screen('mobile') {
          width: 100%;
        }
        a {}
      }
    }
    .block_title {
      font-size: 1.125rem;
    }
    .block_pic {
      width: 100%;
      height: 200px;
      display: block;
      overflow: hidden;
      margin-bottom: .5em;
      @include screen('mobile') {
        margin-bottom: 1em;
        height: auto;
      }
      img {
        width: 100%;
        height: 100%;
        @include screen('mobile') {
          height: auto;
        }
      }
    }
  }
  .block_5 {
    ul {
      li {
        background: #2a8398 url(../images/edm/arrow.png) no-repeat right center;
        white-space: nowrap;
        line-height: 4.5em;
        margin-bottom: 8px;
        display: flex;
        &:nth-child(even) {
          background: #2e9db2 url(../images/edm/arrow.png) no-repeat right center;
        }
        .classify {
          a {
            line-height: 4.5em;
            padding: 0 13px 0 25px;
            color: #fff268;
            display: block;
            font-size: 1.25rem;
            &:hover,
            &:focus {
              background: #333;
            }
          }
        }
        .block_text {
          flex-grow: 1;
          min-width: 0;
          font-size: 1.25rem;
          a {
            color: #fff;
            line-height: 4.5em;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 60px;
            padding-left: 12px;
            &:hover,
            &:focus {
              background: #106478 url(../images/edm/arrow.png) no-repeat right center;
            }
          }
        }
      }
    }
  }
  .block_banner {
    ul {
      li {
        width: 100%;
        max-height: 320px;
        display: block;
        overflow: hidden;
        @include screen('mobile') {
          height: auto;
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          &:hover,
          &:focus {
            &:before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              display: block;
              background: rgba(0, 0, 0, .3);
              z-index: 10;
            }
          }
          img {
            width: 100%;
            height: 100%;
            max-height: 320px;
            display: block;
            position: relative;
            z-index: 9;
          }
        }
      }
    }
  }
  .block_link_1 {
    ul {
      display: flex;
      @include screen('mobile') {
        display: block;
      }
      li {
        width: 50%;
        text-align: center;
        height: 580px;
        @include screen('mobile') {
          width: 100%;
          height: 350px;
        }
        &:first-child {
          background: url(../images/edm/link_papers.jpg) no-repeat center center;
          background-size: cover;
        }
        &:last-child {
          background: url(../images/edm/link_subscription.jpg) no-repeat center center;
          background-size: cover;
        }
        a {
          background: rgba(0, 0, 0, .5);
          height: 100%;
          display: block;
          position: relative;
          transition: all 1s;
          &:hover,
          &:focus {
            background: rgba(0, 0, 0, .3);
          }
          .block_title {
            color: #fff;
            margin-top: 145px;
            margin-bottom: 60px;
            font-size: 2rem;
            text-align: center;
            display: inline-block;
            clear: both;
            @include screen('mobile') {
              margin-top: 60px;
              margin-bottom: 30px;
            }
          }
          .block_text {
            color: #fff;
            display: block;
            clear: both;
            text-align: center;
            font-size: 1.25rem;
          }
          .more {
            color: #fff;
            padding: 16px 40px;
            position: absolute;
            bottom: 125px;
            border: 2px solid #fff;
            border-radius: 40px;
            font-size: 1.25rem;
            left: 50%;
            margin-left: -82px;
            display: inline-block;
            @include screen('mobile') {
              position: relative;
              left: auto;
              bottom: auto;
              margin-left: 0;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }
  .block_link_2 {
    width: 1000px;
    margin: 0 auto;
    @include screen('mobile') {
      width: 100%;
      margin: 20px auto 0;
      box-sizing: border-box;
    }
    ul {
      display: flex;
      @include screen('mobile') {
        display: block;
      }
      li {
        width: 33.33%;
        @include screen('mobile') {
          width: 100%;
        }
        a {
          display: block;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }
  }
  .block_info {
    padding: 0px 0 30px 0;
    ul {
      display: flex;
      @include screen('mobile') {
        display: block;
      }
      li {
        width: 33.33%;
        text-align: center;
        // border-right: 1px solid #b5b5b5;
        padding: 20px 0;
        @include screen('mobile') {
          width: 100%;
          // border-right: 0px;
        }
        // &:last-child {
        //   border-right: 0px;
        // }
        .pic {
          text-align: center;
          margin-bottom: 20px;
          img {
            width: 118px;
            height: 118px;
          }
        }
        .block_title {
          text-align: center;
          font-size: 1.25rem;
        }
        .block_text {
          text-align: center;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.edm_footer {
  width: 1100px;
  background: #262626;
  text-align: center;
  padding: 80px 0;
  color: #fff;
  font-size: 1.125em;
  line-height: 180%;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
  a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    margin: 0 4px;
  }
}