.lp {
  table {
    margin-bottom: 2em;
    td {
      text-align: left;
      max-width: 20%;
      @include screen('mobile') {
        max-width: 100%;
        min-height: 24px;
      }
      a {
        @include aSetting;
        // text-decoration: underline;
        // &:hover{
        //   text-decoration: none;
        // }
        &.fw {
          width: 30px;
          height: 30px;
          display: block;
          border-radius: 50%;
          background: $primaryColor;
          text-indent: -9999px;
          position: relative;
          margin: 0 auto;
          &:before{
            content: "";
            position: absolute;
            width: 60%;
            height: 60%;
            top: 20%;
            left: 20%;
            background: url(../images/basic/icon_forward.png) no-repeat center center;
            background-size: 100%;
            filter: invert(100%);
          }
          &:hover,&:focus{
            background: $secondaryColor;
          }
        }
        &.sdoc {
          width: 30px;
          height: 30px;
          display: block;
          border-radius: 50%;
          background: $secondaryColor;
          text-indent: -9999px;
          position: relative;
          margin: 0 auto;
          &:before{
            content: "";
            position: absolute;
            width: 60%;
            height: 60%;
            top: 20%;
            left: 20%;
            background: url(../images/basic/icon_search.png) no-repeat center center;
            background-size: 100%;
          }
          &:hover,&:focus{
            background: $primaryColor;
          }
        }
      }
      &.date {
        text-align: center;
        color: #666;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.num {
        text-align: center;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.number {
        text-align: center;
        // color: $primaryColor;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.brand {
        text-align: center;
        color: $color-orange;
        @include screen('mobile') {
          text-align: left;
        }
      }
      &.center{
        text-align: center;
        @include screen('mobile') {
          text-align: left;
        }
      }
      a{
        &.ebook{
          width: 24px;
          height: 24px;
          display: block;
          margin-right: 4px;
          background: url(../images/basic/icon_ebook.png);
          background-size: cover;
          margin: 0 auto;
          text-indent: -9999px;
          @include screen('mobile') {
            margin: 0;
          }
        }
        &.doc,&.odf,&.pdf,&.xls,&.ppt,&.ppt,&.jpg,&.mp3,&.mov,&.txt,&.dot,&.zip,&.other{
          width: 21px;
          height: 24px;
          display: inline-block;
          margin-right: 4px;
          text-indent: -9999px;
          @include screen('mobile') {
            margin-bottom: 4px;
          }
        }
        &.doc{
          background: url(../images/basic/icon_doc.jpg);
        }
        &.odf{
          background: url(../images/basic/icon_odf.jpg);
        }
        &.pdf{
          background: url(../images/basic/icon_pdf.jpg);
        }
        &.xls{
          background: url(../images/basic/icon_xls.jpg);
        }
        &.ppt{
          background: url(../images/basic/icon_ppt.jpg);
        }
        &.jpg{
          background: url(../images/basic/icon_jpg.jpg);
        }
        &.mp3{
          background: url(../images/basic/icon_mp3.jpg);
        }
        &.mov{
          background: url(../images/basic/icon_mov.jpg);
        }
        &.txt{
          background: url(../images/basic/icon_txt.jpg);
        }
        &.dot{
          background: url(../images/basic/icon_doc.jpg);
        }
        &.zip{
          background: url(../images/basic/icon_zip.jpg);
        }
        &.other{
          background: url(../images/basic/icon_other.jpg);
        }
      }
    }
  }
  .list {
    &>ul,ol {
      list-style-type: none;
      padding: 0;
      border-top: 2px solid $primaryColor;
      &>li {
        padding: 1em 0;
        border-bottom: 1px solid #DDD;
        position: relative;
        overflow: hidden;
        .tag{
          margin-left: 2em;
        }
        &>a {
          display: block;
          padding-left: 2.8em;
          position: relative;
          line-height: 1.45em;
          color: $color-word;
          span.num {
            width: 2.5em;
            text-align: right;
            position: absolute;
            top: 3px;
            left: 0;
            &:after {
              content: ".";
              display: inline-block;
            }
          }
          span.pic{
            float: left;
            width: 250px;
            max-height: 170px;
            margin-right: 20px;
            text-align: center;
            @include screen('mobile') {
              width: 100%;
              max-height: none;
              float: none;
            }
            img{
              max-width: 100%;
              max-height: 170px;
              height: auto;
              margin: 0 auto;
              @include screen('mobile') {
                width: 100%;
                max-height: none;
              }
            }
          }
          .title{
            display: block;
            font-size: 1.125em;
            line-height: 1.6em;
            font-weight: bold;
            margin: 0 0 5px 0;
            max-height: 3.2em;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #008477;
          }
          span.title{
            margin-bottom: 0;
          }
          span.dept {
            display: inline-block;
            font-size: .938em;
            margin-bottom: 5px;
            // color: #2752aa;
            color: #949494;
            // font-weight: bold;
            margin-right: 10px;
          }
          time {
            display: inline-block;
            color: #949494;
            font-size: .938em;
            margin-bottom: 5px;
          }
          span.text{
            display: block;
            color: #555;
            font-size: .938em;
            line-height: 1.6em;
            max-height: 6.4em;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
          &:hover{
            .title{
              color: #222;
            }
          }
        }

      }
    }
    &.list-title{
      ul li a{
        .title{
          display: inline-block;
          margin: 0 10px 0 0;
          max-height: 100%;
          // overflow: auto;
          line-height: 1.4em;
          vertical-align: middle;
        }
        .dept,time{
          margin-bottom: 0;
        }
      }
    }
  }
  .album {
    margin: 1em -15px;
    overflow: hidden;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
        a {
          display: block;
          text-align: center;
          width: 100%;
          // margin: 2% 5%;
          margin: 2% 0;
          box-sizing: border-box;
          min-height: 320px;
          border: 1px solid #DDD;
          // @include border-radius(4px);
          padding: 10px;
          @include aSetting_nocolor;
          @include screen('notebook') {
            min-height: 260px;
          }
          @include screen('tablet') {
            min-height: auto;
          }
          time {
            color: #666;
          }
          &:hover {
            .imgOuter {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
        .imgOuter {
          width: 100%;
          @include aspect-ratio(4, 3);
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            transition: .3s ease-out;
          }
        }
        .caption {
          text-align: left;
          width: 94%;
          margin-left: 3%;
          h3 {
            height: 3em;
            overflow: hidden;
            line-height: 1.5em;
            display:block;
            margin:5px 0;
          }
          time {
            color: #666;
            font-size: .938em;
            display:block;
            margin: 15px 0 5px;
          }
        }
      }
    }
  }
}
// .function_btn{
//   float: right;
//   @include screen('mobile') {
//     float: none;
//   }
// }
%fun_btn{
  vertical-align: top;
  margin: 0;
  padding: 0.5em 1em !important;
  @include screen('mobile') {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }
  &:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    opacity: .7;
  }
  &:hover, &:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
}
%fun_btn2{
  vertical-align: top;
  margin: 0;
  &:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    opacity: .7;
  }
  &:hover, &:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
  }
}
// .btn_download{
//     @extend %fun_btn;
//     &:before{
//         background:  url(../images/icon_download.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
// .btn_opml{
//     @extend %fun_btn;
//     &:before{
//         background:  url(../images/icon_opml.png) no-repeat 0 0;
//         background-size: cover;
//     }
//     &:hover,&:focus{
//         color: #fff;
//         background: $primaryColor;
//         border: 1px solid $primaryColor; 
//     }
// }
// .btn_casesearch{
//     @extend %fun_btn;
//     &:before{
//         background:  url(../images/icon_casesearch.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
// .btn_faq{
//     @extend %fun_btn;
//     &:before{
//         background:  url(../images/icon_faq.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
// .btn_sound{
//     @extend %fun_btn2;
//     @include screen('mobile') {

//     }
//     &:before{
//         content: "";
//         background:  url(../images/icon_sound.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
// .btn_reload{
//     @extend %fun_btn2;
//     @include screen('mobile') {

//     }
//     &:before{
//         background:  url(../images/icon_reload.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
// .btn_fill{
//     @extend %fun_btn;
//     &:before{
//         background:  url(../images/icon_fill.png) no-repeat 0 0;
//         background-size: cover;
//     }
// }
.btn_advanced_search {
  text-align: center;
  // padding: .8em!important;
  letter-spacing: 1px;
  // font-size: 1em;
  @extend %fun_btn;
  color: #0b0000;
  background: #f1f1f1;
  border: 1px solid #bdbdbd; 
  &:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background:  url(../images/basic/icon_search_black.png) no-repeat 0 0;
    background-size: cover;
    vertical-align: middle;
    margin-right: 8px;
  }
  &:hover,&:focus{
    color: #FFF;
    @include gradient(darken($thirdColor, 0), darken($thirdColor, 15), vertical);
    border: 1px solid darken($thirdColor, 15);
    &:before{
      background: url(../images/basic/icon_search.png) no-repeat 0 0;
      background-size: cover;
    }
  }
}
// .btn_subscribe {
//     text-align: center;
//     // padding: .8em!important;
//     letter-spacing: 1px;
//     // font-size: 1em;
//     @extend %fun_btn;
//     color: #fff;
//     background: darken($primaryColor, 20);
//     border: 1px solid darken($primaryColor, 20); 
//     &:before{
//         display: none;
//     }
//     &:hover,&:focus{
//         background: $primaryColor;
//         color: #fff;
//         border: 1px solid darken($primaryColor, 20);
//         &:before{
//             filter: invert(100%);
//         }
//     }
// }
// .btn_subscribe_modify{
//     @extend %fun_btn;
//     &:before{
//         display: none;
//     }
// }

.btn_calendar {
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  display: inline-block; 
  vertical-align: middle;
  margin-left: 3px;
  &:before{
    content: "";
    width: 28px;
    height: 28px;
    display: block;
    background:  url(../images/icon_calendar.png) no-repeat 0 0;
    background-size: cover;
    line-height: 40px;
    margin:0 auto;
  }
  &:hover,&:focus{
    // color: #FFF;
    // @include gradient(darken($thirdColor, 0), darken($thirdColor, 15), vertical);
    // border: 1px solid darken($thirdColor, 15);
    &:before{
      // background: url(../images/basic/icon_search.png) no-repeat 0 0;
      background-size: cover;
    }
  }
}
.advanced_search_block,.advanced_search_block2{
  margin-top: -48px;
  margin-bottom: 15px;
  @include screen('mobile') {
    margin-top: 0;
  }
  .advanced_search{
    @include border-radius(0);
    clear: both;
    background: #f2f2f2;
    margin: .8em 0 1em 0;
    padding: 1.5em;  
    border-top: 5px solid $thirdColor;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    display: none;
    label{
      // background: url(../images/arrow1.png) no-repeat 1em 9px;
      // padding-left: 2.5em!important;
      text-align: right;
      font-weight: bold;
      // @include screen('mobile') {
      //   background: url(../images/arrow1.png) no-repeat .2em 4px;
      //   padding-left: 1.5em !important;
      // }
    }
    .form_grid{
      @include screen('mobile') {
        margin: 0;
      }
      .form_title{
        @include screen('mobile') {
          float: none;
          padding-top: 0;
        }
      }
      .form_content{
        @include screen('mobile') {
          float: none;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
    .form_content .form_grp {
      border: none;
      padding: .2em;
    }
    .form_content .form_grp p{
      margin: 0;
      font-size: 0.813em;
    }
    .btn_grp{
      margin-bottom: 0;
      padding-bottom: 0;
      input{
        padding: .4em .5em;
      }
    }
  }
}
.advanced_search_block2{
  margin-top: 0;
  margin-bottom: 15px;
  .advanced_search{
    display: block;
  }
}