// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.np {
    ul,ol {
        overflow:hidden;
        padding:1em 0;
        margin: 0;
        overflow:hidden;
    }
    li {
        display: block;
        // width: 49%;
        // margin: 0 1% 10px 0;
        width: 48%;
        margin: 0 2% 1.2em 0;
        float: left;
        @include box-sizing(border-box);
        &:nth-child(even) {
        	width: 50%;
            margin-right: 0px;
        }
        @include screen('mobile') {
            float:none;
            width: 96%;
            margin:0px auto 10px;
            &:nth-child(even){
                width: 96%;
                margin-right: auto;
            }
        }
        a {
            // border-radius:4px;
            border: 2px solid #115d9c;
            padding: 1em 1em 1em 2em;
            display: block;
            vertical-align: top;
            @include text-overflow;
            position:relative;
            background: url(../images/npbg.png) right top;
            color: #fff;
            background-size: cover;
            // @include aSetting_nocolor;
            // background: rgb(1,172,157);
            // background: -moz-linear-gradient(45deg, rgba(1,172,157,1) 25%, rgba(75,181,200,1)  100%);
            // background: -webkit-linear-gradient(45deg, rgba(1,172,157,1) 25%, rgba(75,181,200,1)  100%);
            // background: linear-gradient(45deg, rgba(1,172,157,1) 25%, rgba(75,181,200,1)  100%);
            // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01ac9d",endColorstr="#21337c",GradientType=0);
            color: #fff;
            .num{
                position: absolute;
                width:1em;
                top: 1em;
                left: .5em;
                text-align: right;
                &:after{
                    content:".";
                    display:inline-block;
                }
            }
            &:hover,
            &:focus {
                border: 2px solid #3478bc;
            }
        }
    }
}
