.qp{
	@include box-sizing;
	clear: both;
	background: #eee;
	margin: .8em 0 2.5em 0;
	padding: 1.5em;  
	// border: 1px solid #ddd;
	@include border-radius(2px);
	label{
		text-align: right;
		font-weight: bold;
	}
	.btn_grp{
		margin-bottom: 0;
		padding-bottom: 0;
	}
}