.qp{
	@include box-sizing;
	clear: both;
	margin: .8em 0 2.5em 0;
	padding: 1.5em;  
	border: 6px solid #eee;
	@include border-radius(2px);
	label{
		text-align: right;
		font-weight: bold;
	}
	.form_content{
		label{
			width: 30%;
			text-align: left;
			margin-bottom: 0;
		}
	}
	.btn_grp{
		margin-bottom: 0;
		padding-bottom: 0;
	}
}